.table-bordered tr>td.small, .table-bordered tr>th.small {font-size: 10px; padding: 0px 0px; }
.table-bordered tr>td.small, .table-bordered tr>th.small span.time {
    font-size: 10px;
    transform: rotate(-90deg);
    float: left;
    line-height: 0px;
    padding: 0;
    width: 8px;
    margin-top: -6px;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th { white-space: nowrap; }